@model BucBoard.Models.Entities.Existing.Time

@{
	ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
	<h4>Announcement</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.StartTime)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.StartTime)
		</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.StopTime)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.StopTime)
		</dd>
	</dl>
</div>
<div>
	@Html.ActionLink("Edit", "Edit", "Time", new { id = Model.Id }) |
	<a asp-action="Index">Back to List</a>
</div>

