@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Roles";
}

<h2>@ViewData["Title"]</h2>

<p>Choose a role below to display a list of users in the current role</p>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }

</table>*@

<form asp-action="UsersInSelectedRole" method="post" role="form">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="Name" class="control-label col-md-2">Select a Role:</label>
            <div class="col-md-10">
                <select name="roleName" id="roleName" class="form-control">
                    @foreach (var role in Model)
                    {
                        <option value="@role.Name">@role.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Select" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>



