@model IEnumerable<BucBoard.Models.Entities.Existing.Announcement>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-sm btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    <a asp-controller="Announcement" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a> |
                    <a asp-controller="Announcement" asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a> |
                    <a asp-controller="Announcement" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br /><br />
<a href="~/Manage/Splash" class="btn btn-danger">Back to toolbox</a>
