@model IEnumerable<BucBoard.Models.Entities.Existing.Announcement>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Announcement", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", "Announcement", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", "Announcement", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
